extends layout

block content
  //- marquee= name
  h1= 'blocked users list'     
  ul
  each val in datas[0]  
    li= val     
  

  ul
  each val in datas[1]  
    li= val     
  

  ul
  each val in datas[2]  
    li= val     
     
